/*table.grid{
  height: 50px;
}*/
h1.title{

  line-height: 30px;
}

p.content{

  font-size: 14px;
  text-indent: 50px;
}

td.left{
  border-right: 5px solid #C0C0C0	;

}
/*td.row1{
    border-bottom: 5px solid #808080;
}*/
td.row2{
    border-top: 5px solid #C0C0C0	;
}

th.title {
  display: block;
}



th.section {
  display: block;
}



body {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
 padding-top: 0 !important;
 padding-bottom: 0 !important;
 margin:0 !important;
 width: 100% !important;
 -webkit-text-size-adjust: 100% !important;
 -ms-text-size-adjust: 100% !important;
 -webkit-font-smoothing: antialiased !important;
}
.tableContent img {
 border: 0 !important;
 display: block !important;
 outline: none !important;
}

p, h2{
margin:0;
}

div,p,ul,h2,h2{
margin:0;
}

h2.bigger,h2.bigger{
font-size: 32px;
font-weight: normal;
}

h2.big,h2.big{
font-size: 21px;
font-weight: normal;
}

a.link1{
color:#FFA500;font-size:13px;font-weight:bold;text-decoration:none;
}

a.link2{
 background:#FFA500;
 color:#ffffff;
 padding:8px 10px;
 text-decoration:none;font-size:13px;
}
a.link2:hover{
  background-color: #ffbf80
}
a.link3{
  border-radius: 5px;
background:#FFA500; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;
}
a.link4{
  background:#ffffff; color:#000000; padding:8px 10px;text-decoration:none;font-size:13px;
}
a.link4:hover{
  background-color: #DCDCDC;

}
.bgBody{
background: #F6F6F6;
}
.bgItem{
background: #ffffff;
}

@media only screen and (max-width:480px)

{

table[class="MainContainer"], td[class="cell"]
{
  width: 100% !important;
  height:auto !important;
}
td[class="specbundle"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;

}
td[class="specbundle1"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;
  padding-bottom:20px !important;

}
td[class="specbundle2"]
{
  width:90% !important;
  float:left !important;
  font-size:14px !important;
  line-height:18px !important;
  display:block !important;
  padding-left:5% !important;
  padding-right:5% !important;
}
td[class="specbundle3"]
{
  width:90% !important;
  float:left !important;
  font-size:14px !important;
  line-height:18px !important;
  display:block !important;
  padding-left:5% !important;
  padding-right:5% !important;
  padding-bottom:20px !important;
  text-align:center !important;
}
td[class="specbundle4"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;
  padding-bottom:20px !important;
  text-align:center !important;

}

td[class="spechide"]
{
  display:none !important;
}
    img[class="banner"]
{
          width: 100% !important;
          height: auto !important;
}
  td[class="left_pad"]
{
    padding-left:15px !important;
    padding-right:15px !important;
}

}

@media only screen and (max-width:540px)

{

table[class="MainContainer"], td[class="cell"]
{
  width: 100% !important;
  height:auto !important;
}
td[class="specbundle"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;

}
td[class="specbundle1"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;
  padding-bottom:20px !important;

}
td[class="specbundle2"]
{
  width:90% !important;
  float:left !important;
  font-size:14px !important;
  line-height:18px !important;
  display:block !important;
  padding-left:5% !important;
  padding-right:5% !important;
}
td[class="specbundle3"]
{
  width:90% !important;
  float:left !important;
  font-size:14px !important;
  line-height:18px !important;
  display:block !important;
  padding-left:5% !important;
  padding-right:5% !important;
  padding-bottom:20px !important;
  text-align:center !important;
}
td[class="specbundle4"]
{
  width: 100% !important;
  float:left !important;
  font-size:13px !important;
  line-height:17px !important;
  display:block !important;
  padding-bottom:20px !important;
  text-align:center !important;

}

td[class="spechide"]
{
  display:none !important;
}
    img[class="banner"]
{
          width: 100% !important;
          height: auto !important;
}
  td[class="left_pad"]
{
    padding-left:15px !important;
    padding-right:15px !important;
}

.font{
  font-size:15px !important;
  line-height:19px !important;

  }
}
</style>

     <!--  ================================================================================= Google =================================================================================  -->













<script type="colorScheme" class="swatch active">
{
  "name":"Default",
  "bgBody":"F6F6F6",
  "link":"f2c041",
  "color":"999999",
  "bgItem":"ffffff",
  "title":"555555"
}
</script>

</head>
<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:helvetica, sans-serif;'>
